<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <%= render partial: 'shared/header', locals: {
                    icon: 'users',
                    breadcrumb_1: 'Plat',
                    breadcrumb_2: @dish.name
                }
            %>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row justify-content-md-center">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header text-center" style="width: 25rem;">
                    <%= image_tag(@dish.picture_url.url, :alt => @dish.name, :class => "card-img-top") %>
                </div>
                <div class="card-body">
                    <%= render partial: 'dishes/form', locals: {
                            url: dish_path(@dish),
                            method: :put
                        } 
                    %>
                </div>
            </div>
        </div>
    </div>
</div>